<div class="container my-3">
    <div class="pt-3">
        <h4>Form</h4>

    </div>

    <div class="row" style="place-content: center;">
        <div class="col-9">
            <div class="row my-3">
                <div class="col-4 text-end">
                    <label for="">First Name</label>
                </div>
                <div class="col-8">
                    <input type="text" name="firstName" placeholder="Firstname" class="w-100" />
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4 text-end">
                    <label for="">Last Name</label>
                </div>
                <div class="col-8">
                    <input type="text" name="lastName" placeholder="LastName" class="w-100" />
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4 text-end">
                    <label for="">Email</label>
                </div>
                <div class="col-8">
                    <input type="text" name="firstname" placeholder="Firstname" class="w-100" />
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4 text-end">
                    <label for="">Description</label>
                </div>
                <div class="col-8">
                    <input type="text" name="description" placeholder="Description" class="w-100" />
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4 text-end">
                    <label for="">Sex</label>
                </div>
                <div class="col-8">
                    <input type="radio" value="Male" name="gender" />Male <br />
                    <input type="radio" value="Female" name="gender" />Female <br />
                    <input type="radio" value="Other" name="gender" />Other <br />
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4 text-end">
                    <label for="">Favorite Color</label>
                </div>
                <div class="col-8">
                    <select name="" id="">
                        <option value="">select color</option>
                        <option value="">Black</option>
                        <option value="">Blue</option>
                        <option value="">Gray</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4 text-end">
                    <label for="">Employed</label>
                </div>
                <div class="col-8">
                    <input type="checkbox" />
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4 text-end">
                    <label for="">Note</label>
                </div>
                <div class="col-8">
                    <textarea name="note" id="" cols="30" rows="2" class="w-100"></textarea>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4 text-end">
                    <button type="button" [routerLink]="['/', 'demo']" class="btn btn-primary btn-sm">
                        Submit
                    </button>
                </div>
                <div class="col-8">
                    <button type="button" class="btn btn-primary btn-sm">Clear Values</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="d-flex justify-content-st</div>art"> -->
    <!-- <div class="d-flex justify-content-lg-end justify-content-md-center
    ">
        <div class="px-2"> Ajmal-2 </div>
        <div class="px-2"> Ajmal </div>
        <div class="px-2"> Ajmal-1 </div>
        <div class="px-2"> Ajmal-2 </div>
        <div class="px-2"> Ajmal </div>
        <div class="px-2"> Ajmal-1 </div>
        <div class="px-2"> Ajmal-2 </div>
    </div> -->
    <!-- <div class="d-flex justify-content-end">
        <div class="px-2"> Ajmal </div>
        <div class="px-2"> Ajmal-1 </div>
        <div class="px-2"> Ajmal-2 </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="px-2"> Ajmal </div>
        <div class="px-2"> Ajmal-1 </div>
        <div class="px-2"> Ajmal-2 </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="px-2"> Ajmal </div>
        <div class="px-2"> Ajmal-1 </div>
        <div class="px-2"> Ajmal-2 </div>
    </div>
    <div class="d-flex justify-content-around">
        <div class="px-2"> Ajmal </div>
        <div class="px-2"> Ajmal-1 </div>
        <div class="px-2"> Ajmal-2 </div>
    </div>
    <div class="d-flex justify-content-evenly">
        <div class="px-2"> Ajmal </div>
        <div class="px-2"> Ajmal-1 </div>
        <div class="px-2"> Ajmal-2 </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-3 pt-3 text-end">
            <label for="">First Name</label>
        </div>
        <div class="col-9 pt-3">
            <input type="text" name="firstname" placeholder="Firstname" class="w-100" />
        </div>
        <div class="col-12 pt-3">
            <input type="text" name="firstname" placeholder="Firstname" class="w-100" />
        </div>
    </div>
    <div class="row">
        <div class="col-3 pt-3 text-end">
            <label for="">Last Name</label>
        </div>
        <div class="col-9 pt-3">
            <input type="text" name="lastname" placeholder="Lastname" class="w-100" />
        </div>
    </div>
    <div class="row">
        <div class="col-3 pt-3 text-end"><label for="">Email</label></div>
        <div class="col-9 pt-3">
            <input type="email" name="email" placeholder="Email" class="w-100" />
        </div>
    </div>
    <div>
        <div class="row pt-3">
            <div class="col-3 pt-3 text-end"><label for="">Sex</label></div>
            <div class="col-9">
                <input type="radio" value="Male" name="gender" />Male <br />
                <input type="radio" value="Female" name="gender" />Female <br />
                <input type="radio" value="Other" name="gender" />Other <br />
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-3  text-end"><label for="">Favorite Color</label></div>
        <div class="col-9">
            <select name="" id="">
                <option value="">select color</option>
                <option value="">Black</option>
                <option value="">Blue</option>
                <option value="">Gray</option>
            </select>
        </div>
        <div class="row pt-3">
            <div class="col-3 text-end"><label for="">Employed</label></div>
            <div class="col-9">
                <input type="checkbox" />
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-3 pt-3 text-end"><label for="">Note</label></div>
            <div class="col-9">
                <textarea name="note" id="" cols="30" rows="2" class="w-100"></textarea>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-6 text-end">
                <button type="button" [routerLink]="['/', 'demo']" class="btn btn-primary btn-sm">
                    Submit
                </button>
            </div>
            <div class="col-6 text-start">
                <button type="button" class="btn btn-primary">Clear Values</button>
            </div>
        </div>
    </div> -->
</div>




<!-- Task for Akib 
in small screen use JC-start, and AI-start
in md screen use center,
in lg screen use end,
in xl screen use start
-->